@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #ffffff;
      --foreground: #070708;

      --card: #ffffff;
      --card-foreground: #070708;

      --popover: #ffffff;
      --popover-foreground: #070708;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: #f2f2f3;
      --secondary-foreground: #18181b;

      --muted: #f2f2f3;
      --muted-foreground: #727279;

      --accent: #f2f2f3;
      --accent-foreground: #18181b;

      --destructive: #ef4343; /* red-500 */
      --destructive-foreground: #fafafa;

      --border: #e4e4e7;
      --input: #1C1B1B;
      --ring: #070708;

      --radius: 0.5rem;
    }

    .dark {
      --background: #070708;
      --foreground: #fafafa;

      --card: #070708;
      --card-foreground: #fafafa;

      --popover: #070708;
      --popover-foreground: #fafafa;

      --primary: #fafafa;
      --primary-foreground: #18181b;

      --secondary: #252527;
      --secondary-foreground: #fafafa;

      --muted: #252527;
      --muted-foreground: #9f9fa8;

      --accent: #252527;
      --accent-foreground: #fafafa;

      --destructive: #7c1d1d;
      --destructive-foreground: #fafafa;

      --border: #252527;
      --input: #252527;
      --ring: #d2d2d5;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
